<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Taylor Johnson</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/dist/stylesheets/app.css">
    <script src="https://use.fontawesome.com/b4809e5773.js"></script>
</head>
<body>
    <div id="main">
        <div><%- markup %></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>